* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*sets the background color to white */
body {
    background-color: #d9dcd6;
}

/*The headers size, font, background, and text color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff; 
}

/*The logo in the headers size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*changing the letters seo in the logo */
.header h1 .seo {
    color: #d9dcd6;
}

/*the text for the links at the top of the page */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*The points and bullets that go infront of a list */
.header div ul {
    list-style-type: none;
}

/*The spacing between each link in the top right */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/*The links color text */
a {
    color: #ffffff;
    text-decoration: none;
}

/*The links font size */
p {
    font-size: 16px;
}

/* sets the image under the header  */
.hero {
    height: 1200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*contols the images in the Main Product spot, and makees them go left or right in the containor */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*controls the box size in which the main product is stored */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*The Sidebar box */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    font-size: 28px;
}

/*Text color and space between content in the side bars */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Centering the content, and putting a space between each opject in the side bar */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Object size and spacing in the side bar */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*The main product boxs size, text color, and font */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Main product image size */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 300px;
}

/*The main product header changes */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 60px;
}

/*Paragraph font size */
p{
    font-size: 28px;
}
/*adding the space at the bottom of the page */
.footer{
    padding: 30px;
}